*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    font-family: cursive;
    background-color: #defdef;
}

body .flashes{
    position: fixed;
    bottom: 32px;
    right: 32px;
    transition: all 0.9s ease-in-out;
    animation: animateInRight 5s;
}

body .flashes li{
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 8px;
    list-style: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.flashes li:not(:last-child){
    margin-bottom: 16px;
}

.flashes .info{
    background-color: #007bff;
}

.flashes .error{
    background-color: #dc3545;
}

.main_content .center_piece{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.center_piece header{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

header a{
    text-decoration: none;
    font-weight: 600;
    color: #007bff;
}

header .logo{
    padding: 0px 16px;
}

.link_area ul li{
    list-style: none;
    float: left;
    padding: 0px 16px;
}


.center_piece #postForm {
    padding: 48px  24px 0px 24px;
}

form .form_group{
    height: 48px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(128, 128, 128);
}

.form_group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_group input{
    width: 75%;
    height: 100%;
    border: none;
    font-size: 16px;
    padding-left: 16px;
}

.form_group input:focus{
    outline: none;
}

.form_group .postupload{
    width: 10%;
    height: 100%;
    position: relative;
}

.postupload input{
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.postupload svg{
    width: 100%;
    height: 100%;
    object-fit: fill;
    fill: #cdcdcd;
    object-position: center;
    background-color: #ffffff;
}

.form_group button{
    width: 15%;
    border: none;
    height: 100%;
    padding-top: 8px;
    background-color: #1198b9;
}

button svg{
    height: 32px;
}

button svg path{
    fill: #ffffff;
}

.post_content .empty-container{
    width: 500px;
    display: flex;
    height: 450px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

.empty-container p{
    font-size: 32px;
    font-weight: 600;
    color: #dcdcdc;
    user-select: none;
}

.post_content .post-item{
    position: relative;
    margin: 24px auto;
    min-height: 160px;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease-in-out, box-shadow 0.9s ease-in-out;
}

.post_content .post-item:hover{
    transform: scale(1.025);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.post-item .top-content{
    position: relative;
}

.top-content .post-menu-btn{
    font-size: 24px;
    position: absolute;
    top: -16px;
    right: 0;
}

.top-content .post-menu-btn:hover{
    cursor: pointer;
}

.post-menu-btn svg{
    width: 16px;
}

.post-item .bottom-content{
    display: flex;
    height: min-content;
    padding-bottom: 8px;
    width: calc(100% - 48px);
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.bottom-content .like{
    position: relative;
}

.bottom-content .like small{
    position: absolute;
    top: -4px;
    right: -8px;
}

.post-item .post-menu{
    position: absolute;
    top: 28px;
    right: 24px;
    padding: 24px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.post-item .close-menu{
    display: none;
    transition: display 0.9s ease-in-out;
}

.post-menu ul li{
    list-style: none;
    padding: 4px 0px;
}

.post-menu .edit-post, 
.post-menu .delete-post{
    border: none;
    color: #1198b9;
    background-color: transparent;
}

.post-menu .edit-post:hover, 
.post-menu .delete-post:hover{
    cursor: pointer;
}

.post-update{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    z-index: 44;
    top: 0;
    bottom: 0;
}

.post-update form{
    width: 500px;
    min-height: 250px;
    padding: 24px 16px;
    border-radius: 8px;
    text-align: right;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.post-update form > *:not(:last-child){
    width: 100%;
    margin-bottom: 16px;
}

.post-update form textarea{
    font-size: 16px;
    padding: 16px;
}

.post-update form button{
    font-weight: 600;
    color: #ffffff;
    padding: 10px 24px;
    background-color: #1198b9;
    border-radius: 4px;
    border: none;
}


@media screen and (max-width: 600px) {
    form .form_group, .post_content .post-item{
        width: calc(100vw - 256px);
    }
    
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    form .form_group, .post_content .post-item{
        width: calc(100vw - 256px);
    }

}

@media screen and (min-width: 1024px) {
    form .form_group, .post_content .post-item{
        width: calc(50vw - 48px);
        margin-left: auto;
        margin-right: auto;
    }
}


@keyframes animateInRight {
    0%{
        transform: translateX(-100%);
    }

    25%{
        transform: translateX(-75%);
    }

    50%{
        transform: translateX(-50%);
    }

    75%{
        transform: translateX(-25%);
    }

    100%{
        transform: translateX(0%);
    }
}