<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/style1.html"%}
    <title>{{title}}</title>
</head>
<body>
    <div class="root">
        <div class="root-pic"></div>
        <div class="root-form">
            <div>
                <h2>Duke Social Network</h2>
                <p>Welcome to <b>Duke Social Network</b> sign in to network with people around the world</p> 
                <form id="formSignin" action="" method="POST">
                    <input type="text" name="username" id="userName" placeholder="username" required />
                    <input type="password" name="userpass" id="userPass" placeholder="password" required>
                        <p class="smlln">Forgotten password ?</p>
                    <input type="submit" value="Log in">
                </form>
                <p class="smlln">If you dont have an account register <a href="/auth/register"> here</a></p>
            </div>
        </div>
    </div>
    {% include "partials/flash.html"%}
</body>
</html>