<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/style1.html"%}
    <title>{{title}}</title>
</head>
<body>
    <div class="root">
        <div class="root-pic"></div>
        <div class="root-form">
            <div>
                <h2>Create An Account</h2>
                <form id="formSignup" action="" method="POST">
                    <input type="text" name="username" id="userName" placeholder="Name" required/>
                    <input type="password" name="userpass" id="userPass" placeholder="Password" required />
                    <input type="password" name="confirmpass" id="confPass" placeholder="Confirm Password" required/>
                    <input type="submit" value="Register">
                </form>
                <p class="smlln">If you already have an account log in <a href="/auth/login"> here</a></p>
            </div>
        </div>
    </div>
    {% include "partials/flash.html" %}
</body>
</html>